

img[alt=drawing] { width: 400; }





h2 {
  
    color:green;
}


h3 {
    
    color:red;
}

h4 {
    color:peru;
}

li { 
    margin: auto;
    color:#4cdd20;
    list-style: square; 
}

em {
    color:turquoise;
}

.personal {
    font-family: Arial, Verdana, sans-serif;
}

img { width: 80%;
    border:none;
    background: none;
}

img[alt=swot]{
    width: 50%;
}
img[alt=secours]{
    width: 30%;
    vertical-align: right;
    position: absolute;
}
img[alt=start]{
    width: 70%;
}
img[alt=pca]{
    width: 80%;
}

img[alt=orga]{
    width: 50%;
}

